  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 20%;
  }
  
  th {
    background-color: rgb(151, 241, 204);
    color: black;
    font-size: 16px;
  }
  .mat-checkbox-background {
  background-color: green;
}